* {
  margin: 0;
  padding: 0;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  position: relative;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: white;
  position: relative;
  border-radius: 34px;
  position: relative;
}

#first {
  position: relative;
  left: 14px;
  top: 13px;
}

#second {
  position: relative;
  left: 14px;
  top: 18px;
}

#thired {
  position: relative;
  left: 34px;
  top: -7px;
}

#forth {
  position: relative;
  left: 34px;
  top: -2px;
}

.green {
  height: 60px;
  width: 60px;
  background-color: green;
  position: relative;
  left: 88px;
  top: -59px;
}

.blue {
  height: 60px;
  width: 60px;
  background-color: blue;
  position: relative;
  left: 88px;
  top: -64px;
}

.yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  position: relative;
  top: -157px;
}

.box {
  width: 9px;
  height: 9px;
  border: 1px solid black;
}

.col-1,
.col-2,
.col-3 {
  float: left; /* makes columns stick without gaps */
  position: relative;
  left: 30px;
  top: 0px;
}

.main-col-class {
  position: relative;
  left: 30px;
  top: -58px;
}

.main-col-class-2 {
  position: relative;
  left: 30px;
  top: -124px;
}

.container {
  display: flex; /* makes columns horizontal */
  display: inline-block;
  position: relative;
  top: -60px;
}

.col-1-row,
.col-2-row,
.col-3-row {
  display: flex; /* boxes inside each column horizontal */
  flex-direction: row; /* horizontal line of boxes */
  gap: 0; /* remove spacing between boxes */
}

.box {
  width: 9.5px;
  height: 9.5px;
  border: 1px solid black;
  box-sizing: border-box;
}

.main-col-class-3 {
  position: relative;
  top: 10px;
  left: 10px;
}

.container-2 {
  display: flex; /* makes columns horizontal */
  display: inline-block;
  position: relative;
  top: -152px;
  left: 62px;
}
